

{% extends 'base.html' %} 
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'image.css' %}"> 
<body id="bg" style="display: inline-block; background-image: url('{% static "images/img.jpg" %}'); "></body>
<h1 style="
    margin-left: 620px;
    margin-right: 200px;
    margin-top: 200px;
    width: 400px;
    color:white;">Secret Dairy</h1>
<h3 style="
    margin-left: 540px;
    margin-right: 200px;
    margin-top: 30px;
    width: 400px;
    color:white;">Store your thoughts permanently and securely.</h3>
<h3 style="
    margin-left: 550px;
    margin-right: 200px;
    margin-top: 30px;
    width: 400px;
    color:white;">Log in using your username and password.</h3>

<form method="POST" class="post-form" action="/myform/">
  {% csrf_token %}
  <div style="
    margin-left: 410px;
    margin-right: 200px;
    margin-top: 30px;
    width: 600px;">
  <div class="col-md-8">
    <center><div class="form-group">
      <label for="username"></label>
      <input
        type="text"
        name="username"
        class="form-control"
        required="required"
        placeholder="Username"
      />
    </div>
    <div class="form-group" style="margin-top: 15px;">
      <label for="password"></label>
      <input
        type="password"
        name="password"
        class="form-control"
        required="required"
        placeholder="Password"

      />
    </div>
    <center><label class="text-danger" style="color:white">{{ msg }}</label></center>
    <br />
    <div class="form-group">
      <button class="btn btn-primary form-control" style="background-color: #4CAF50; color: white; cursor: pointer;  padding: 10px 32px; font-size: 16px; border: none;">
        <span class="glyphicon glyphicon-log-in"></span>Log in!
      </button>

    </div></center>
  <center><div class="col-md-2" style="margin-top: 20px; text-decoration: none;">
    <a href="/" style="text-decoration: none;color: yellow; font-size: 20px" >Sign Up</a> 
  </div></center>
  </div>
</div>
</form>

{% endblock %}
